In [1]:
#因 平常python無法處理類似 element wise的問題 例如:

km_list = [21,42.195]
km_to_mile = 0.6221371192
print(km_list * km_to_mile) #會出錯

TypeError: can't multiply sequence by non-int of type 'float'

In [2]:
#所以使用ndarray

import numpy as np
km_array = np.array(km_list)
print(type(km_array))
print(km_array * km_to_mile)

<class 'numpy.ndarray'>
[ 13.0648795   26.25107574]

In [15]:
#ndarray只容許一種資料類型

my_np_array = np.array([1,True,"hi"])
print(my_np_array)
print(my_np_array.dtype)   #U21是array中的文字類型

['1' 'True' 'hi']
<U21

In [42]:
#字典型態轉為DataFrame

import pandas as pd
name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]

straw_hat_dict = {"name": name,
                  "age": age}
print(straw_hat_dict)
print('-------------------------')
straw_hat_df = pd.DataFrame(straw_hat_dict)
print(type(straw_hat_df))
print('-------------------------')
print(straw_hat_df)

{'age': [19, 21, 20, 19, 21, 17, 30, 36, 90], 'name': ['Monkey D. Luffy', 'Roronoa Zoro', 'Nami', 'Usopp', 'Vinsmoke Sanji', 'Tony Tony Chopper', 'Nico Robin', 'Franky', 'Brook']}
-------------------------
<class 'pandas.core.frame.DataFrame'>
-------------------------
   age               name
0   19    Monkey D. Luffy
1   21       Roronoa Zoro
2   20               Nami
3   19              Usopp
4   21     Vinsmoke Sanji
5   17  Tony Tony Chopper
6   30         Nico Robin
7   36             Franky
8   90              Brook

In [39]:
#在 name表格中 篩出 條件 age欄位中>19的

straw_19up = straw_hat_df.name[straw_hat_df.age>19]
print(straw_19up)
print('-------------------------')
print(straw_hat_df.age>19)
print('-------------------------')
print(straw_hat_df[straw_hat_df.age>19])

1      Roronoa Zoro
2              Nami
4    Vinsmoke Sanji
6        Nico Robin
7            Franky
8             Brook
Name: name, dtype: object
-------------------------
0    False
1     True
2     True
3    False
4     True
5    False
6     True
7     True
8     True
Name: age, dtype: bool
-------------------------
   age            name
1   21    Roronoa Zoro
2   20            Nami
4   21  Vinsmoke Sanji
6   30      Nico Robin
7   36          Franky
8   90           Brook

In [40]:
# 先布林判斷，在篩出表格

filter = straw_hat_df.ix[:, "age"] <= 30
print(filter)
print('-------------------------')
print(straw_hat_df[filter])

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8    False
Name: age, dtype: bool
-------------------------
   age               name
0   19    Monkey D. Luffy
1   21       Roronoa Zoro
2   20               Nami
3   19              Usopp
4   21     Vinsmoke Sanji
5   17  Tony Tony Chopper
6   30         Nico Robin

In [45]:
# for迴圈 不帶索引值的寫法

one_to_hundred_list = range(1, 101)
summation = 0

for i in one_to_hundred_list:
    summation += i

print(summation)
print(i)

5050
100

In [48]:
# 帶索引值的寫法
one_to_hundred_list = range(1, 101)
summation = 0

for i in range(len(one_to_hundred_list)):
        summation += one_to_hundred_list[i]

print(summation)
print(i)

5050
99