In [47]:
import pandas as pd
import numpy as np
dates = pd.date_range('20161209',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
print(df)

             A   B   C   D
2016-12-09   0   1   2   3
2016-12-10   4   5   6   7
2016-12-11   8   9  10  11
2016-12-12  12  13  14  15
2016-12-13  16  17  18  19
2016-12-14  20  21  22  23

In [10]:
#loc = 標籤式

df.loc['20161210','A'] = 15
print(df)

             A   B   C   D
2016-12-09   0   1   2   3
2016-12-10  15   5   6   7
2016-12-11   8   9  10  11
2016-12-12  12  13  14  15
2016-12-13  16  17  18  19
2016-12-14  20  21  22  23

In [12]:
## 錯誤示範

df.loc['D','20161209'] = 9 #行，列，順序不可顛倒，不然就會變這樣。
df.loc['E'] = 77 #變成多一個“Ｅ”的”行“
print(df)

                        A     B     C     D  20161209
2016-12-09 00:00:00   0.0   1.0   2.0   3.0       NaN
2016-12-10 00:00:00  15.0   5.0   6.0   7.0       NaN
2016-12-11 00:00:00   8.0   9.0  10.0  11.0       NaN
2016-12-12 00:00:00  12.0  13.0  14.0  15.0       NaN
2016-12-13 00:00:00  16.0  17.0  18.0  19.0       NaN
2016-12-14 00:00:00  20.0  21.0  22.0  23.0       NaN
D                     NaN   NaN   NaN   NaN       9.0
E                    77.0  77.0  77.0  77.0      77.0

In [18]:
# iloc = 位置式

df.iloc[3,2] = 333
print(df)
df.iloc[:2,1:4] = 99
print(df)

             A   B    C   D
2016-12-09   0   1    2   3
2016-12-10   4   5    6   7
2016-12-11   8   9   10  11
2016-12-12  12  13  333  15
2016-12-13  16  17   18  19
2016-12-14  20  21   22  23
             A   B    C   D
2016-12-09   0  99   99  99
2016-12-10   4  99   99  99
2016-12-11   8   9   10  11
2016-12-12  12  13  333  15
2016-12-13  16  17   18  19
2016-12-14  20  21   22  23

In [20]:
df.iloc[4] = 666 #先更改到的是”行“
print(df)

              A    B    C    D
2016-12-09    0    1    2    3
2016-12-10    4    5    6    7
2016-12-11    8    9   10   11
2016-12-12   12   13   14   15
2016-12-13  666  666  666  666
2016-12-14   20   21   22   23

In [22]:
# ix 混合式（位置和標籤都可）

# Boolean indexing = 條件式

df[df.A>8] = 0
print(df)

            A  B   C   D
2016-12-09  0  1   2   3
2016-12-10  4  5   6   7
2016-12-11  8  9  10  11
2016-12-12  0  0   0   0
2016-12-13  0  0   0   0
2016-12-14  0  0   0   0

In [48]:
df.B[df.A>6] =9 #縮小範圍改變(常用)
print(df)

             A  B   C   D
2016-12-09   0  1   2   3
2016-12-10   4  5   6   7
2016-12-11   8  9  10  11
2016-12-12  12  9  14  15
2016-12-13  16  9  18  19
2016-12-14  20  9  22  23

In [27]:
#表格添加

df['E'] = np.nan
print(df)

             A   B   C   D   E
2016-12-09   0   1   2   3 NaN
2016-12-10   4   5   6   7 NaN
2016-12-11   8   9  10  11 NaN
2016-12-12  12  13  14  15 NaN
2016-12-13  16  17  18  19 NaN
2016-12-14  20  21  22  23 NaN

In [33]:
df['F'] = np.arange(6) #範圍不可超過或太小於原表格，會報錯
print(df)

             A   B   C   D  F
2016-12-09   0   1   2   3  0
2016-12-10   4   5   6   7  1
2016-12-11   8   9  10  11  2
2016-12-12  12  13  14  15  3
2016-12-13  16  17  18  19  4
2016-12-14  20  21  22  23  5

In [37]:
df['G'] = [4,55,32,555,67,88]
print(df)

             A   B   C   D    G
2016-12-09   0   1   2   3    4
2016-12-10   4   5   6   7   55
2016-12-11   8   9  10  11   32
2016-12-12  12  13  14  15  555
2016-12-13  16  17  18  19   67
2016-12-14  20  21  22  23   88

In [46]:
#嚴謹一點的方式

df['H'] = pd.Series([1,2,3,4,5,66],index=dates)
print(df)

             A   B   C   D   H
2016-12-09   0   1   2   3   1
2016-12-10   4   5   6   7   2
2016-12-11   8   9  10  11   3
2016-12-12  12  13  14  15   4
2016-12-13  16  17  18  19   5
2016-12-14  20  21  22  23  66