In [1]:
import pandas as pd
import numpy as np

In [3]:
A = pd.DataFrame(np.arange(12).reshape((3,4)))  #行與列預設會用數字
print(A)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [16]:
B = pd.Series([44,np.nan,372,1,0.4]) #創建一系“列“的值，“行”會自行生成
print(B)
C = pd.Series([['jj',4.33,82,0,np.array(22)],[3,34.5,'yes']])
print(C)

0     44.0
1      NaN
2    372.0
3      1.0
4      0.4
dtype: float64
0    [jj, 4.33, 82, 0, 22]
1           [3, 34.5, yes]
dtype: object

In [19]:
dates = pd.date_range('20161208',periods=5) 
print(dates)

DatetimeIndex(['2016-12-08', '2016-12-09', '2016-12-10', '2016-12-11',
               '2016-12-12'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df = pd.DataFrame(np.random.randn(5,3),index=dates,columns=['a','b','c'])  #自行定義行與列
print(df)

                   a         b         c
2016-12-08  0.284055  0.598243  0.031603
2016-12-09 -0.602558  1.459198  2.218260
2016-12-10 -0.567693  1.534387  0.202926
2016-12-11  0.283230  0.728422 -0.036748
2016-12-12  1.179184 -1.940161 -0.768754

In [29]:
# 字典形態的創建，key變成各“列“的名稱，要注意各“值”能生成”值的數量“要能一樣

df2 = pd.DataFrame({'A':1.2,
                    'B':pd.Timestamp('20161208'),
                    'C':pd.Series(1,index=list(range(5)),dtype='float32'),
                    'D':np.array([3]*5,dtype='int64'),
                    'E':pd.Categorical(['train','bus','train','bus','bus']),
                    'F':'dog'})
print(df2)

     A          B    C  D      E    F
0  1.2 2016-12-08  1.0  3  train  dog
1  1.2 2016-12-08  1.0  3    bus  dog
2  1.2 2016-12-08  1.0  3  train  dog
3  1.2 2016-12-08  1.0  3    bus  dog
4  1.2 2016-12-08  1.0  3    bus  dog

In [30]:
df2.dtypes #查數據型式

A           float64
B    datetime64[ns]
C           float32
D             int64
E          category
F            object
dtype: object

In [31]:
df2.index #輸出行的序列

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [32]:
df2.columns #輸出列的序列

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [33]:
df2.values

array([[1.2, Timestamp('2016-12-08 00:00:00'), 1.0, 3, 'train', 'dog'],
       [1.2, Timestamp('2016-12-08 00:00:00'), 1.0, 3, 'bus', 'dog'],
       [1.2, Timestamp('2016-12-08 00:00:00'), 1.0, 3, 'train', 'dog'],
       [1.2, Timestamp('2016-12-08 00:00:00'), 1.0, 3, 'bus', 'dog'],
       [1.2, Timestamp('2016-12-08 00:00:00'), 1.0, 3, 'bus', 'dog']], dtype=object)

In [34]:
df2.describe()  #“值”裡面的各種統計

         A    C    D
count  5.0  5.0  5.0
mean   1.2  1.0  3.0
std    0.0  0.0  0.0
min    1.2  1.0  3.0
25%    1.2  1.0  3.0
50%    1.2  1.0  3.0
75%    1.2  1.0  3.0
max    1.2  1.0  3.0

In [37]:
df2.sort_index(axis=1,ascending=False) #以“行”，ascending=False（倒數排列）

     F      E  D    C          B    A
0  dog  train  3  1.0 2016-12-08  1.2
1  dog    bus  3  1.0 2016-12-08  1.2
2  dog  train  3  1.0 2016-12-08  1.2
3  dog    bus  3  1.0 2016-12-08  1.2
4  dog    bus  3  1.0 2016-12-08  1.2

In [38]:
df2.sort_index(axis=0,ascending=False)

     A          B    C  D      E    F
4  1.2 2016-12-08  1.0  3    bus  dog
3  1.2 2016-12-08  1.0  3    bus  dog
2  1.2 2016-12-08  1.0  3  train  dog
1  1.2 2016-12-08  1.0  3    bus  dog
0  1.2 2016-12-08  1.0  3  train  dog

In [40]:
df2.sort_values(by='E') #以“列名為Ｅ的值“進行排序

     A          B    C  D      E    F
1  1.2 2016-12-08  1.0  3    bus  dog
3  1.2 2016-12-08  1.0  3    bus  dog
4  1.2 2016-12-08  1.0  3    bus  dog
0  1.2 2016-12-08  1.0  3  train  dog
2  1.2 2016-12-08  1.0  3  train  dog

In [41]:
df2.T #翻轉可以使用

,0,1,2,3,4
A,1.2,1.2,1.2,1.2,1.2
B,2016-12-08 00:00:00,2016-12-08 00:00:00,2016-12-08 00:00:00,2016-12-08 00:00:00,2016-12-08 00:00:00
C,1,1,1,1,1
D,3,3,3,3,3
E,train,bus,train,bus,bus
F,dog,dog,dog,dog,dog