In [7]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.ones((3,4))*1,columns=['A','B','C','D'])
df2 = pd.DataFrame(np.ones((3,4))*2,columns=['A','B','C','D'])
df3 = pd.DataFrame(np.ones((3,4))*3,columns=['A','B','C','D'])

print(df1)
print(df2)
print(df3)

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
     A    B    C    D
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
     A    B    C    D
0  3.0  3.0  3.0  3.0
1  3.0  3.0  3.0  3.0
2  3.0  3.0  3.0  3.0

In [8]:
#concatenating 連接

print(pd.concat([df1,df2,df3]))

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
0  3.0  3.0  3.0  3.0
1  3.0  3.0  3.0  3.0
2  3.0  3.0  3.0  3.0

In [9]:
print(pd.concat([df1,df2,df3],axis=1)) #橫向連接

     A    B    C    D    A    B    C    D    A    B    C    D
0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0  3.0  3.0  3.0  3.0
1  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0  3.0  3.0  3.0  3.0
2  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0  3.0  3.0  3.0  3.0

In [14]:
print(pd.concat([df1,df2,df3],ignore_index=True)) #重新排序index

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  2.0  2.0  2.0  2.0
4  2.0  2.0  2.0  2.0
5  2.0  2.0  2.0  2.0
6  3.0  3.0  3.0  3.0
7  3.0  3.0  3.0  3.0
8  3.0  3.0  3.0  3.0

In [30]:
df4 = pd.DataFrame(np.ones((3,4))*4,columns=['A','B','C','D'],index=[1,2,3])
df5 = pd.DataFrame(np.ones((3,4))*5,columns=['B','C','D','E'],index=[2,3,4])
print(pd.concat([df4,df5])) #預設參數join是“outer”
print(pd.concat([df4,df5],ignore_index=True)) #重新排序
print(pd.concat([df4,df5],axis=1,))
print(pd.concat([df4,df5],axis=1,join_axes=[df4.index])) #用df4的index為基準

     A    B    C    D    E
1  4.0  4.0  4.0  4.0  NaN
2  4.0  4.0  4.0  4.0  NaN
3  4.0  4.0  4.0  4.0  NaN
2  NaN  5.0  5.0  5.0  5.0
3  NaN  5.0  5.0  5.0  5.0
4  NaN  5.0  5.0  5.0  5.0
     A    B    C    D    E
0  4.0  4.0  4.0  4.0  NaN
1  4.0  4.0  4.0  4.0  NaN
2  4.0  4.0  4.0  4.0  NaN
3  NaN  5.0  5.0  5.0  5.0
4  NaN  5.0  5.0  5.0  5.0
5  NaN  5.0  5.0  5.0  5.0
     A    B    C    D    B    C    D    E
1  4.0  4.0  4.0  4.0  NaN  NaN  NaN  NaN
2  4.0  4.0  4.0  4.0  5.0  5.0  5.0  5.0
3  4.0  4.0  4.0  4.0  5.0  5.0  5.0  5.0
4  NaN  NaN  NaN  NaN  5.0  5.0  5.0  5.0
     A    B    C    D    B    C    D    E
1  4.0  4.0  4.0  4.0  NaN  NaN  NaN  NaN
2  4.0  4.0  4.0  4.0  5.0  5.0  5.0  5.0
3  4.0  4.0  4.0  4.0  5.0  5.0  5.0  5.0

In [22]:
print(pd.concat([df4,df5],join="inner")) #將參數join改為inner
print(pd.concat([df4,df5],join='inner',ignore_index=True)) #一樣可以重新排序

     B    C    D
1  4.0  4.0  4.0
2  4.0  4.0  4.0
3  4.0  4.0  4.0
2  5.0  5.0  5.0
3  5.0  5.0  5.0
4  5.0  5.0  5.0
     B    C    D
0  4.0  4.0  4.0
1  4.0  4.0  4.0
2  4.0  4.0  4.0
3  5.0  5.0  5.0
4  5.0  5.0  5.0
5  5.0  5.0  5.0

In [35]:
print(df2.append([df1,df3])) 
print(df2.append([df1,df3],ignore_index=True))

     A    B    C    D
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  3.0  3.0  3.0  3.0
1  3.0  3.0  3.0  3.0
2  3.0  3.0  3.0  3.0
     A    B    C    D
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  3.0  3.0  3.0  3.0
7  3.0  3.0  3.0  3.0
8  3.0  3.0  3.0  3.0

In [37]:
s1 = pd.Series([1,2,3,4],index=['A','B','C','D'])
print(s1)
print(df1.append(s1,ignore_index=True)) #單純添加單一數列

A    1
B    2
C    3
D    4
dtype: int64
     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  2.0  3.0  4.0